<h1>Edit <%= @superhero.name %></h1>

<form action="/superheroes/<%=@superhero.id %>" method="POST">
  <label> Superhero Name </label>
  <input type="text" name="name" value="<%=@superhero.name %>"> </br>

  <label> Superhero Superpower </label>
  <input type="text" name="superpower" value="<%=@superhero.superpower %>"> </br>

  <input type="submit" value="Update">
</form>
