<h1>Add a New Superhero</h1>

<form action="/superheroes" method="POST">
  <label> Superhero Name </label>
  <input type="text" name="name"> </br>

  <label> Superhero Superpower </label>
  <input type="text" name="superpower"> </br>

  <input type="submit" value="Create">
</form>
