<h1>Add a New Superhero</h1>

<form action="/superheroes" method="POST">
  <label> Superhero Name </label>
  <input type="text" name="name"> </br>

  <label> Superhero Superpower </label>
  <input type="text" name="superpower"> </br>

  <label> Superhero Motto </label>
  <input type="text" name="motto"> </br>

  <label> Superhero Suit Color </label>
  <input type="text" name="suit_color"> </br>

  <label> Superhero City </label>
  <input type="text" name="city"> </br>

  <label> Superhero age </label>
  <input type="integer" name="age"> </br>

  <input type="submit" value="Create">
</form>
