<center><h1>Sign up to create your own superhero!</h1></center>
<form action="/signup" method="POST">
  <center><p>Name: <input type="text" name="username"></p></center>
  <center><p>Password: <input type="text" name="password"></p></center>
  <center><input class="btn btn-primary" type="submit"></center>
</form>
