<u><center><h1>Sign up to create your own superhero!</h1></u>
<form action="/signup" method="POST">
  <p>Name: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn btn-primary" type="submit"></center>
</form>
