<h1>Add a New Sidekick</h1>

<form action="/sidekicks" method="POST">
  <label> Sidekick Name </label>
  <input type="text" name="name"> </br>

  <label> Sidekick Superpower </label>
  <input type="text" name="superpower"> </br>

  <label> Which Superhero does this Sidekick belong to? </label>
  <select name="superhero_id">
    <% current_user.superheroes.each do |superhero| %>
      <option value=<%=superhero.id %>><%= superhero.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Create">
</form>
