<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <nav>
    <% if logged_in? %>

    <center><h2>Welcome to Create a Superhero!</h2></center>
    <center><a href="/superheroes/new"> Create a Superhero </a><br></center>
    <center><a href="/logout"> Log Out </a><br></center>

    <% else %>
      <u><p>Sign up or log in below:</p></u>
      <a href="/signup">Sign Up</a><br>
      <a href="/login">Log In</a>
    <%end %>

  </nav>
    <%= yield %>
</body>
</html>
